<div class="grid-container main" >

  <div id = "1" class="grid-item"><button class="btn btn-primary" onclick="check(this)">1</button></div>
  <div id = "2" class="grid-item"><button class="btn btn-primary" onclick="check(this)">2</button></div>
  <div id = "3" class="grid-item"><button class="btn btn-primary" onclick="check(this)">3</button></div>
  <div id = "4" class="grid-item"><button class="btn btn-primary" onclick="check(this)">4</button></div>
  <div id = "5" class="grid-item"><button class="btn btn-primary" onclick="check(this)">5</button></div>
  <div id = "6" class="grid-item"><button class="btn btn-primary" onclick="check(this)">6</button></div>
  <div id = "7" class="grid-item"><button class="btn btn-primary" onclick="check(this)">7</button></div>
  <div id = "8" class="grid-item"><button class="btn btn-primary" onclick="check(this)">8</button></div>
  <div id = "9" class="grid-item"><button class="btn btn-primary" onclick="check(this)">9</button></div>
    
</div>